.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    width: 100%;
}

.header .left {
    display: flex;
    align-items: center;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 60px; /* Adjust the height as needed */
    width: 80px;
    margin: 10px 10px;
    margin-left: 50px;
}

.header nav {
    display: flex;
    align-items: center;
    margin-left: 0px; /* Adjust the space between logo and nav links */
}

.header nav a {
    margin: 0 8px; /* Reduced margin to bring links closer */
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.header nav a:hover {
    text-decoration: underline;
}

.header .buttons {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.header .buttons a {
    margin-left: 10px;
    padding: 0.5px 10px;
    text-decoration: none;
    color: #333;
    background-color: #d3b3f3; /* Light purple color */
    border: 1px solid #000;
    border-radius: 0px;
    font-size: 20px;
}

.header .buttons a:hover {
    background-color: #e4c4ff; /* Lighter purple color */
}